.nav {
  display: flex;
  gap: 16px;
}

.nav__link {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  padding-bottom: 2px;
}

.nav__link_active {
  font-weight: 600;
  border-bottom: 2px solid #444;
}
