.preloader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.preloader__spinner {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin-bottom: 12px;
  animation: preloader-spin 0.75s infinite linear;
}

.preloader__text {
  font-size: 14px;
  color: #555;
}

@keyframes preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
